In [182]:
import pandas as pd 
df = pd.read_csv("Patient_Data.csv") # patient data
df2 = pd.read_csv("Billing_Data.csv") #Billing data

In [184]:
# 1.	Load the patient dataset and show summary with info().
df.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         5 non-null      int64
 1   InsuranceCovered  5 non-null      int64
 2   FinalAmount       5 non-null      int64
dtypes: int64(3)
memory usage: 252.0 bytes

In [158]:
#2.	Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].
select = df[['PatientID', 'Department', 'Doctor', 'BillAmount']]
print(select)

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [164]:
#3.	Drop administrative columns like ['ReceptionistID', 'CheckInTime'].
df.drop(['ReceptionistID', 'CheckInTime'], axis=1,inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PatientID   6 non-null      int64
 1   Name        6 non-null      object
 2   Department  6 non-null      object
 3   Doctor      6 non-null      object
 4   BillAmount  4 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 372.0+ bytes

In [188]:
#4.	Use groupby to find total bill amount per department.
df.groupby("Department")['BillAmount'].sum().reset_index()

    Department  BillAmount
0   Cardiology     16200.0
1  Dermatology         0.0
2    Neurology         0.0
3  Orthopedics      7500.0

In [190]:
# 5.Remove duplicate patient records based on PatientID.
df = df.drop_duplicates(subset="PatientID")
df.head()

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45

In [172]:
df.isnull().sum()

PatientID     0
Name          0
Department    0
Doctor        0
BillAmount    2
dtype: int64

In [174]:
mean_value = df["BillAmount"].mean()

In [192]:
#6.	Fill missing BillAmount values with the mean bill amount
df['BillAmount'].fillna(value=mean_value,inplace=True)
print(df.head())

   PatientID     Name   Department     Doctor   BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000               1
1        102      Bob    Neurology   Dr. John  6233.333333               2
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000               1
3        104    David   Cardiology  Dr. Smith  6200.000000               3
4        105      Eva  Dermatology   Dr. Rose  6233.333333               2

        CheckInTime
0  2023-01-10 09:00
1  2023-01-11 10:30
2  2023-01-12 11:00
3  2023-01-13 12:00
4  2023-01-14 08:45

C:\Users\RITHIKA\AppData\Local\Temp\ipykernel_18820\1804784578.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BillAmount'].fillna(value=mean_value,inplace=True)

In [178]:
df.isnull().sum()

PatientID     0
Name          0
Department    0
Doctor        0
BillAmount    0
dtype: int64

In [194]:
# 7.	Merge the billing dataset with patient dataset on PatientID.
merged_df = pd.merge(df2, df, on='PatientID', how='left')
print(merged_df.head())

   PatientID  InsuranceCovered  FinalAmount     Name   Department     Doctor  \
0        101              2000         3000    Alice   Cardiology  Dr. Smith
1        102              1500         3500      Bob    Neurology   Dr. John
2        103              2500         5000  Charlie  Orthopedics    Dr. Lee
3        104              3000         3200    David   Cardiology  Dr. Smith
4        105              1000         4000      Eva  Dermatology   Dr. Rose

    BillAmount  ReceptionistID       CheckInTime
0  5000.000000               1  2023-01-10 09:00
1  6233.333333               2  2023-01-11 10:30
2  7500.000000               1  2023-01-12 11:00
3  6200.000000               3  2023-01-13 12:00
4  6233.333333               2  2023-01-14 08:45

In [196]:
# 8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).
new_patients = pd.DataFrame({
    'PatientID': [106,107],
    'Name': ['chiru', 'riya'],
    'Department': ['Cardiology', 'Orthopedics'],
    'Doctor': ['Dr. srija', 'Dr.pooja'],
    # Add more columns if your df2 has them
})

final_df= pd.concat([df2, new_patients], axis=0, ignore_index=True)
print(final_df.tail())

   PatientID  InsuranceCovered  FinalAmount   Name   Department     Doctor
2        103            2500.0       5000.0    NaN          NaN        NaN
3        104            3000.0       3200.0    NaN          NaN        NaN
4        105            1000.0       4000.0    NaN          NaN        NaN
5        106               NaN          NaN  chiru   Cardiology  Dr. srija
6        107               NaN          NaN   riya  Orthopedics   Dr.pooja

In [214]:
# 9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).
insurance_list = [1] * len(df2)
final_amount_list = df['BillAmount'] * 0.9

new_cols_df = pd.DataFrame({
    'InsuranceCovered': insurance_list,
    'FinalAmount': final_amount_list
})
df_with_new_cols = pd.concat([df, new_cols_df], axis=1)
print(df_with_new_cols.head())

   PatientID     Name   Department     Doctor   BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000               1
1        102      Bob    Neurology   Dr. John  6233.333333               2
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000               1
3        104    David   Cardiology  Dr. Smith  6200.000000               3
4        105      Eva  Dermatology   Dr. Rose  6233.333333               2

        CheckInTime  InsuranceCovered  FinalAmount
0  2023-01-10 09:00                 1       4500.0
1  2023-01-11 10:30                 1       5610.0
2  2023-01-12 11:00                 1       6750.0
3  2023-01-13 12:00                 1       5580.0
4  2023-01-14 08:45                 1       5610.0